.mainNav {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.navItems {
    display: flex;
    list-style-type: none;
    background-color: white;
    border-bottom: 1px solid gray;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
}

.navItem {
    padding: 16px;
}
